    
     </div>
    </main>
     <footer>
        <div class="container">
            <p>Copyright - Matt Clifford <span id='year'></span></p>
        </div>
    </footer>

    <script>
        const date = new Date().getFullYear()
        document.getElementById('year').innerHTML = date
    </script>
</body>
</html>